#wd-modules {
  overflow-x: auto;
}

.wd-lesson {
  min-width: 300px; 
}

@media (max-width: 768px) {
  .wd-lesson {
    font-size: 14px; 
    padding: 5px;
  }
}

@media (max-width: 992px) {
  .col-lg-2 {
    display: none;
  }
  .col-lg-10 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    width: calc(100% - 300px); 
  }
}

.course-home {
  width: 100%;
}

@media (max-width: 991px) {
  .kanbas-navigation,
  .course-navigation {
    display: none;
  }
}

@media (max-width: 660px) {
  #wd-courses-navigation {
    display: none;
  }
  .wd-main-content-offset {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

#course-status-container {
  width: 300px;
}

@media (max-width: 1300px) {
  #course-status-container {
    display: none;
  }
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

/* for the Home page */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

#course-status-container {
  width: 300px;
}

@media (max-width: 660px) {
  #wd-courses-navigation {
    display: none;
  }
  .wd-main-content-offset {
    margin-left: 0 !important; 
    padding-left: 0 !important; 
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    text-align: left; 
  }
}